* {
    font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    color: #333;
}
a {
    color: #428bca;
}
body {
    margin: 0; padding: 0;
}
h1 {
    margin: 0;
    color: white;
    padding: 10px 20px;

    background: #6f5499; /* Old browsers */
    background: -moz-linear-gradient(top,  #6f5499 0%, #563B80 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f5499), color-stop(100%,#563B80)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6f5499 0%,#563B80 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6f5499 0%,#563B80 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6f5499 0%,#563B80 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6f5499 0%,#563B80 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f5499', endColorstr='#563B80',GradientType=0 ); /* IE6-9 */

}
body > p {
    margin: 20px;
    padding: 0;
}
.proposal {
    margin: 20px;
    padding: 20px;
    /*background-color: #eee;*/
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #6f5499;
    border-radius: 3px;
}
.proposal h2 {
    margin: 0; padding: 0;
}
.proposal h2 small {
    font-weight: normal;
    color: #666;
}
.proposal td {
    min-width: 100px;
}
.new.proposal {
    background-color: #f8f8f8;
}
/*a.button, input[type=submit] {
    font-size: 0.8em;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #38a;
    border: solid 1px #008;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}*/

