<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>4E Plays Nomic</title>
  </head>

  <body>
    {%- block topbar -%}
    <h1>Nomic Voting</h1>
    <p>Turns doc: <a href="https://docs.google.com/document/d/1Pn2FpCDwTFHMEQzATSqi7eaJtgzOc6X5DpQ4E1dIAbY" target="_blank">https://docs.google.com/document/d/1Pn2FpCDwTFHMEQzATSqi7eaJtgzOc6X5DpQ4E1dIAbY</a></p>

    <p>Active rules: <a href="https://docs.google.com/document/d/1_BVIwRUbUZZ5MEw6cReGyIJkWdJ7KRTy6-8c8MJhAhQ" target="_blank">https://docs.google.com/document/d/1_BVIwRUbUZZ5MEw6cReGyIJkWdJ7KRTy6-8c8MJhAhQ</a>

    {%- endblock -%}

    {% block page_header %}{% endblock %}
    {% block content %}{% endblock %}

    {% block js_footer %}{% endblock %}
  </body>
</html>
