{% extends "base.html" %}

{% block content %}
    {% for proposal in proposals %}
      <h3>Proposal [{{ proposal.number }}]</h3>
      <p>
        {% with total=proposal.votes|length %}
            {{ total }} vote {%- if total != 1 %}s{%- endif -%}:
        {% endwith %}
      </p>

      <form action="/vote/{{ proposal.id }}" method="post">
      <table>
        {% for vote in proposal.votes %}
          <tr>
            <td>{{ vote.name }}</td>
            <td>{{ vote.vote }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td><input type="text" name="name" placeholder="name"></td>
          <td><input type="text" name="vote" placeholder="vote">
              <input type="submit" name="submit" value="vote"></td>
        </tr>
      </table>
      <a href="/reveal/{{ proposal.id }}">Reveal the votes</a>

      <a href="/archive/{{ proposal.id }}">Archive this proposal</a>
    {% endfor %}

    <h2>New Proposal</h2>
    <form action="." method="post">
    <input type="text" name="number" placeholder="Proposal #"><br>
    <input type="text" name="created_by" placeholder="Created By"><br>
    <input type="submit" value="propose">
  </form>
{% endblock %}
