{% extends "base.html" %}

{% block content %}
    {% for proposal in proposals %}
      <article class="proposal">
        <h2>Proposal {{ proposal.number }}
          <small>by {{ proposal.created_by }}</small>
          <small>{{ proposal.created_at.strftime('%m/%d %I:%M %p') }}</small>
        </h2>
        <p>
          {% with total=proposal.votes|length %}
              {{ total }} vote {%- if total != 1 %}s{%- endif -%}:
          {% endwith %}
        </p>

        <form action="{{ url_for('add_vote', proposal_id=proposal.id) }}" method="post">
        <table>
            <tr>
              <th>Name</th>
              <th>Vote</th>
              <th>Hate Upon</th>
            </tr>
          {% for vote in proposal.votes %}
            <tr>
              <td>{{ vote.name }}</td>
              <td>{{ vote.vote }}</td>
              <td>{{ vote.hate_upon }}</td>
            </tr>
          {% endfor %}

          {% if not proposal.votes_revealed %}
            <tr>
              <td><input type="text" name="name" placeholder="name" size="10"></td>
              <td><input type="text" name="vote" placeholder="vote" size="10"></td>
              <td><input type="text" name="hate_upon" placeholder="hate upon" size="10">
                  <input type="submit" name="submit" value="vote"></td>
            </tr>
          {% endif %}
        </table>
        </form>
        <br />
        {% if not proposal.votes_revealed %}
          <a href="{{ url_for('reveal', proposal_id=proposal.id) }}" class="button">Reveal the votes (closes voting)</a>
        {% else %}
          <a href="{{ url_for('archive', proposal_id=proposal.id) }}" class="button">Archive this proposal</a>
        {% endif %}
      </article>
    {% endfor %}
    <article class="proposal new">
      <h2>New Proposal</h2>
      <form action="." method="post">
        <p><input type="text" name="number" placeholder="Proposal #">
        <input type="text" name="created_by" placeholder="Created By">
        <input type="submit" value="propose"></p>
      </form>
{% endblock %}
